.Tetris{
    margin-left:50px;
    margin-top:50px;
    /* position: relative;
    height: 100%;
    width: 100%; */
    background: darkslategray,
}
.Field{
    /* left:10px;
    top:10px; */
    position: relative;
    float: left;
    background: darkslategray
    
}
.Forecast{
    /* left:120px;
    top:60px; */
    float: left;
    position: relative;
    margin-left:20px;
    /* background: darkslategray */
    
}